
<div class="row text-right">
  <h1 class="col-6">Projects List</h1>
  <div class="col-6">
    <button mat-raised-button color="primary" 
    (click)="onCreatePopup()">Create</button>
  </div>
</div>


<div class="row">

  <table mat-table [dataSource]="dataSource" matSort class="col-12" >

    <!-- ProjectName Column -->
    <ng-container matColumnDef="projectName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
      <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
    </ng-container>
  
    <!-- projectDescription Column -->
    <ng-container matColumnDef="projectDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Description </th>
      <td mat-cell *matCellDef="let element"> {{element.projectDescription}} </td>
    </ng-container>
  
    <!-- projectVersion Column -->
    <ng-container matColumnDef="projectVersion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Version </th>
      <td mat-cell *matCellDef="let element"> {{element.projectVersion}} </td>
    </ng-container>
  
    <!-- action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="w-10"> Action </th>
      <td mat-cell *matCellDef="let element" class="w-10">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>
            more_horiz
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onUpdateElement(element)">Update</button>
          <button mat-menu-item (click)="onDeleteElement(element)">Delete</button>
        </mat-menu>  
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 

</div>


